/**
*
* 01.- definicion de variables
*
*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
//colores bases
$color_principal: #F0F1F3;
$color_secundario: #F7F8FF;
$color_complementario: #F7F8FF;
$navbar-color: #183B59;


// fuentes del sitio web
$font-family: 'Bebas Neue',
sans-serif;