/**
*
* 03.- barras de navegacion
*
*/

.sidebar {
    min-height: 100vh !important;
    width: 200px;
    height: 100%;
    background-color: $navbar-color !important;

    a {
        color: #ffff!important;
    }

}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff !important;
    background-color:  #A7CFF2 !important

}

.barra {
    background-color: $navbar-color !important;
    height: 4rem;
    width: 100%;
    a {
        color: #fff !important
    }
}